//
   Created by tujiaw on 15/8/8.

link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/libs/ckeditor/ckeditor.js")

script(src="/libs/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js")
link(href="/libs/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css", rel="stylesheet")
<script>hljs.initHighlightingOnLoad();</script>