//
   Created by tujiaw on 15/8/23.

extends ../frame
block content
   .container
      .row.row-offcanvas.row-offcanvas-right
         .col-sm-12.col-md-12
            p.pull-right.visible-xs
               button.btn.btn-primary.btn-xs(type="button", data-toggle="offcanvas") Toggle nav
            .jumbotron
               #carousel-blog-generic.carousel.slide(data-ride="carousel")
                  ol.carousel-indicators
                     li.active(data-target="#carousel-blog-generic", data-slide-to="0")
                     li(data-target="#carousel-blog-generic", data-slide-to="1")
                     li(data-target="#carousel-blog-generic", data-slide-to="2")
                  div.carousel-inner(role="listbox")
                     div.item.active
                        img(src="/images/slide1.png", alt="First slide")
                     div.item
                        img(src="/images/slide1.png", alt="Second slide")
                     div.item
                        img(src="/images/slide1.png", alt="Third slide")
                  a.left.carousel-control(href="#carousel-blog-generic", role="button", data-slide="prev")
                     span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                     span.sr-only Previous
                  a.right.carousel-control(href="#carousel-blog-generic", role="button", data-slide="next")
                     span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                     span.sr-only Next
            .col-sm-10.col-md-10
               each item in posts
                  .row
                     h2 #{item.title}
                     p #{item.profile}
                     p
                        a.btn.btn-default#gotoShowPost(href="/show_post/#{item._id}", role="button") 显示更多 &raquo;
            .col-sm-2.col-md-2.sidebar-offcanvas#sidebar
               .list-group
                  each item in categories
                     a.list-group-item(href="#") #{item.name}
      hr
      footer
         p &copy; Company 2015